<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>com.hiepnx.cms.server.DataServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/cms/api</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>APIServlet</servlet-name>
    <servlet-class>com.hiepnx.cms.server.servlet.APIServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>APIServlet</servlet-name>
    <url-pattern>/api/update-data</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.hiepnx.cms.server.upload.FileUploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/file-upload</url-pattern>
  </servlet-mapping>
  
<!--   Spring Configuation -->
  <servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>com.hiepnx.cms.server.MyContextListener</listener-class>
	</listener>
	
<!-- 	ObjectifyFilter -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 	CORSFilter -->
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.hiepnx.cms.server.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>jsp/home.jsp</welcome-file>
  </welcome-file-list>

</web-app>
